@reference "tailwindcss";

.classroom {
  @apply relative space-y-2 rounded-md border border-gray-200 bg-white p-6 transition-all duration-250 ease-in hover:-translate-y-4 hover:border-t-4 hover:shadow-2xl hover:shadow-gray-200;
}
