@reference "tailwindcss";

input,
textarea {
  @apply border-gray text-gray/80 placeholder-gray/40 focus:border-blue focus:ring-blue mt-1 block w-full rounded-md shadow-sm;
}

[x-cloak] {
  display: none !important;
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
