@reference "tailwindcss";

label {
  @apply block text-sm font-medium text-white;
}

/* input {
  @apply form-input;
}

textarea {
  @apply form-textarea;
} */

input,
textarea {
  @apply mt-1 block w-full rounded-md border-gray-300 text-gray-700 placeholder-gray-400 shadow-sm focus:border-blue-500 focus:ring-blue-500;
}

button[type='submit'] {
  @apply w-full rounded-md bg-blue-600 px-4 py-3 font-medium text-white transition-all disabled:opacity-50;
}

[x-cloak] {
  display: none !important;
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
