@reference "tailwindcss";
@import 'tw-animate-css';

.item {
  @apply relative flex flex-col rounded-lg border border-gray-100 bg-white duration-300 ease-in;
  @apply hover:translate-x-2 hover:shadow-lg;
  @apply md:hover:translate-x-0 md:hover:-translate-y-2 md:hover:shadow-2xl;
  animation: slide-reveal linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}

@keyframes slide-reveal {
  from {
    opacity: 0;
    transform: translateY(5rem);
    filter: blur(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
