@theme {
	--content-width-max: calc((1000 / 16) * 1rem);
	--breakout-width-max: calc((100 / 16) * 1rem);
	--gap-count: 7;
	--gap-width: clamp(0.5rem, -1rem + 3.75vw, 2rem);
	--gap-total: var(--gap-count) * var(--gap-width);

	--font-scale: 1.2;
	--font-sans: 'Poppins', 'sans-serif';

	--color-lochmara-50: #f2f8fd;
	--color-lochmara-100: #e4eefa;
	--color-lochmara-200: #c4ddf3;
	--color-lochmara-300: #8fc1ea;
	--color-lochmara-400: #54a1dc;
	--color-lochmara-500: #2c81c2;
	--color-lochmara-600: #1e6aab;
	--color-lochmara-700: #1a548a;
	--color-lochmara-800: #194973;
	--color-lochmara-900: #1a3d60;
	--color-lochmara-950: #112740;
	--color-indigo: #39375b;
	--color-gray: #39375b;

	--spacing-content-block: clamp(2rem, -1rem + 7.5vw, 5rem);
}
