@theme {
	--content-width-max: calc((1000 / 16) * 1rem);
	--breakout-width-max: calc((100 / 16) * 1rem);
	--gap-count: 7;
	--gap-width: clamp(0.5rem, -1rem + 3.75vw, 2rem);
	--gap-total: var(--gap-count) * var(--gap-width);

	--font-scale: 1.15;
	--font-sans: 'Poppins', 'sans-serif';

	--color-lochmara-50: #e6f2f9;
	--color-lochmara-100: #b3d8ee;
	--color-lochmara-500: #007ec7;
	--color-lochmara-600: #00659f;
	--color-lochmara-700: #00588b;
	--color-lochmara-900: #000d14;
	--color-indigo: #39375b;
	--color-gray: #39375b;

	--spacing-body-gap: 5rem;
	/* --spacing-content-block: clamp(2rem, -1rem + 7.5vw, 5rem); */
	--spacing-content-block: clamp(2rem, 0.5rem + 3.75vw, 3.5rem);
	--spacing-header-height: 132px;
}
