@theme {
  /* Base Colors (OKLCH) */
  --color-blue: oklch(0.49 0.12 244.27); /* Lochmara */
  --color-gray: oklch(44.47% 0.035 241.6); /* Bismark */
  --color-green: oklch(49.92% 0.145 163.77); /* Shamrock */
  --color-orange: oklch(56.9% 0.231 40.8); /* Pumpkin */
  --color-purple: oklch(52% 0.18 295); /* Affair */
  --color-red: oklch(53.28% 0.245 15.54); /* Maroon Flush */
  --color-teal: oklch(58% 0.12 185); /* Tradewind */
  --color-yellow: oklch(78% 0.16 90); /* Galliano */
}
