@reference "tailwindcss";

main > header {
  /* background-color: hsla(0, 100%, 50%, 1); */
  background-color: #00659f;
  background-image:
    linear-gradient(0deg, #fff, rgba(255, 255, 255, 0.25)),
    radial-gradient(at 80% 0%, hsla(155, 59%, 80%, 1) 0px, transparent 50%),
    radial-gradient(at 13% 59%, hsla(347, 100%, 89%, 1) 0px, transparent 50%),
    radial-gradient(at 60% 51%, hsla(222, 60%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(31, 97%, 83%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 23% 5%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}

form {
  @apply grid-cols-1 md:grid-cols-2;
}

.highlight {
  @apply relative flex-auto basis-3xs space-y-2 rounded-md border border-gray-100 bg-white px-6 py-12 shadow-2xl shadow-gray-200 transition-all duration-250 ease-in hover:-translate-y-4;
}
