@import 'tailwindcss';
@import 'tw-animate-css';

@import './abstract/variables.css';

@import './base/typography.css';

@import './layouts/content.css';

@import './landmarks/hgroup.css';
@import './landmarks/sections.css';

@import './components/buttons.css';
