---
import Layout from '@layouts/Common.astro'

const info = {
  title: 'Not Found',
  description: 'The page you are looking for does not exist.',
  slug: Astro.url.pathname.slice(1) || '404',
}
---

<Layout {info}>
  <header>
    <h1>{info.title}</h1>
  </header>
</Layout>
