---
import ContactForm from '@components/ContactForm.astro'

import {Icon} from 'astro-icon/components'
import type {Identity} from '@interfaces/identity'

import '@styles/landmarks/common/drawer.css'

interface Props {
  identity: Identity
}

const {identity} = Astro.props
---

<aside
  id="mobile-drawer"
  x-show="isDrawerOpen"
  x-cloak
  class="fixed inset-0 z-50 md:hidden"
  aria-modal="true"
  role="dialog"
  @keydown.escape.window="isDrawerOpen = false">
  <div
    x-show="isDrawerOpen"
    x-transition.opacity
    @click="isDrawerOpen = false"
    class="fixed inset-0 bg-slate-900/50 backdrop-blur-sm">
  </div>

  <div
    x-show="isDrawerOpen"
    x-transition:enter="transition transform ease-out duration-300"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition transform ease-in duration-200"
    x-transition:leave-end="translate-x-full"
    class="fixed top-0 right-0 z-50 flex h-screen w-80 max-w-[90vw] flex-col space-y-8 bg-white p-5 shadow-2xl">
    <div
      class="flex items-center justify-between border-b border-slate-100 py-5 text-blue-900">
      <button
        @click="isDrawerOpen = false"
        aria-label="Close Menu"
        class="p-2 text-3xl text-slate-500 transition-colors hover:text-blue-600">
        <Icon name="line-md:menu-to-close-transition" aria-hidden="true" />
      </button>
      <span class="text-lg font-bold">{identity.name}</span>
    </div>
    <nav aria-label="Mobile Navigation">
      <ul class="space-y-4">
        <li>
          <a href="/" @click="isDrawerOpen = false">Home</a>
        </li>
        <li>
          <a href="/about" @click="isDrawerOpen = false">
            About Us
          </a>
        </li>
        <li>
          <a href="#" @click="isDrawerOpen = false">
            Classrooms
          </a>
        </li>
        <li>
          <a href="#" @click="isDrawerOpen = false">
            Newsletters
          </a>
        </li>
      </ul>
    </nav>
    <ContactForm />
  </div>
</aside>
