---
import ContactForm from '@components/ContactForm.astro'

import {Icon} from 'astro-icon/components'
import type {Identity} from '@interfaces/identity'

interface Props {
  identity: Identity
}

const {identity} = Astro.props
---

<aside
  id="mobile-drawer"
  x-data="{ isOpen: false, activeMenu: null }"
  @toggle-drawer.window="isOpen = !isOpen"
  x-show="isOpen"
  class="fixed inset-0 z-50 md:hidden"
  aria-modal="true"
  role="dialog">
  <div
    x-show="isOpen"
    x-transition.opacity
    @click="isOpen = false"
    class="fixed inset-0 bg-slate-900/50 backdrop-blur-sm">
  </div>

  <div
    x-show="isOpen"
    x-transition:enter="transition transform ease-out duration-300"
    x-transition:enter-start="translate-x-full"
    x-transition:enter-end="translate-x-0"
    x-transition:leave="transition transform ease-in duration-200"
    x-transition:leave-end="translate-x-full"
    class="fixed top-0 right-0 z-50 flex h-screen w-80 max-w-[90vw] flex-col space-y-8 bg-white p-5 shadow-2xl">
    <div
      class="flex items-center justify-between overflow-y-auto border-b border-slate-100 py-5 text-blue-900">
      <span class="text-lg font-bold">{identity.name}</span>
      <button
        @click="isOpen = false"
        class="p-2 text-3xl text-slate-500 transition-colors hover:text-blue-600">
        <Icon name="line-md:menu-to-close-transition" />
      </button>
    </div>
    <nav>
      <ul class="space-y-4">
        <li>
          <a href="/" class="font-bold">Home</a>
        </li>
        <li>
          <a href="/about" class="font-bold">About Us</a>
        </li>
        <!-- <li>
          <a href="/about" class="font-bold">Classrooms</a>
        </li>
        <li>
          <a href="/newsletters" class="font-bold">Newsletters</a>
        </li> -->
      </ul>
    </nav>
    <ContactForm />
  </div>
</aside>
