---
import Layout from '@layouts/Common.astro'

import mainImage from '@images/children-graph-paper-table.webp'

const title = 'Newsletters'
---

<Layout {info}>
  <section>
    <h2>Hello</h2>
  </section>
</Layout>
