---
import Layout from '@layouts/Common.astro'

import mainImage from '@images/children-graph-paper-table.png'

const title = 'Newsletters'
---

<Layout {title} {mainImage}>
  <section>
    <h2>Hello</h2>
  </section>
</Layout>
