---
interface Props {
  class?: string
  trackClass?: string
  height?: string
}

const { class: className, trackClass = '', height = 'auto' } = Astro.props
import '@styles/components/carousel.css'
---

<div 
  class={`carousel-container ${className || ''}`}
  style={`--carousel-height: ${height};`}
  x-data="{ 
    scrollNext() { 
      const track = this.$refs.track;
      track.scrollBy({ left: track.clientWidth * 0.8, behavior: 'smooth' });
    },
    scrollPrev() { 
      const track = this.$refs.track;
      track.scrollBy({ left: -track.clientWidth * 0.8, behavior: 'smooth' });
    }
  }"
>
  <div class={`carousel-track ${trackClass}`} x-ref="track">
    <slot />
  </div>
  
  <div class="carousel-nav">
    <button type="button" class="nav-btn prev" @click="scrollPrev" aria-label="Previous items">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
    </button>
    <button type="button" class="nav-btn next" @click="scrollNext" aria-label="Next items">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </button>
  </div>
</div>
