---
const {title, mainImage, publishedDate} = Astro.props
---

<header
	class="content relative bg-cover bg-top bg-no-repeat pt-100"
	style=`background-image: linear-gradient(to top, #fff, rgba(255, 255, 255, 0.5)), url('${mainImage.src || mainImage}');`>
	<h1>{title}</h1>
	{publishedDate && <p>${publishedDate}</p>}
</header>
