@reference "tailwindcss";

#mobile-drawer nav ul li {
  @apply -mx-2 p-2 duration-500 hover:bg-orange-50;

  a {
    @apply hover:text-orange-700;
  }
}

#mobile-drawer nav ul a {
  @apply flex items-center gap-2;
}
