@reference "tailwindcss";

#commonHeader {
  @apply fixed top-0 z-100 w-full;
  grid-area: hd;
  animation:
    add-shadow linear both,
    add-background linear both;
  animation-timeline: scroll();
  animation-range: 0 150px;
  background-color: transparent;
  backdrop-filter: blur(0px);
}

@keyframes add-shadow {
  from {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }
}

@keyframes add-background {
  from {
    background-color: transparent;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}
