@reference "tailwindcss";

#commonHeader {
  @apply fixed top-0 z-20 w-full;
  grid-area: hd;
  animation-name: add-shadow, add-background, slide-up;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-duration: 1ms; /* Compatibility for scroll-driven animations */
  animation-timeline: scroll();
  animation-range: 2px 50px;
}

nav ul a {
  @apply transition-colors hover:text-blue-600;
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -50px;
  }
}

@keyframes add-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1);
  }
}

@keyframes add-background {
  from {
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  to {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}
