@reference "tailwindcss";

#commonHeader {
  @apply fixed top-0 z-20 w-full;
  grid-area: hd;
  animation-name: add-shadow, add-background, slide-up;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-duration: 1ms;
  animation-timeline: scroll();
  animation-range: 2px 50px;

  /* nav ul {
    &:before {
      content: '';
      position: fixed;
      position-anchor: --active;
      top: calc(anchor(center) + 1rem);
      left: anchor(center);
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background: var(--color-blue-600);
      z-index: 2;
    }

    &:after {
      content: '';
      position: fixed;
      position-anchor: --hovered;
      top: calc(anchor(center) + 1rem);
      left: anchor(center);
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background: var(--color-gray-600);
      z-index: 1;
    }

    & li a,
    & li button {
      @apply cursor-pointer transition-colors hover:text-blue-600;

      &[aria-current='page'] {
        @apply text-blue-600;
        anchor-name: --active;
      }

      &:hover {
        anchor-name: --hovered;
      }
    }

    ul:has(li:hover) li[aria-current='page']:not(:hover) {
      anchor-name: none;
    }
  } */
}

@keyframes slide-up {
  from {
    top: 0;
  }
  to {
    top: -50px;
  }
}

@keyframes add-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1);
  }
}

@keyframes add-background {
  from {
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
  to {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
}

.submenu {
  @apply rounded-xl border border-gray-100 bg-white p-6 shadow-2xl backdrop-blur-md;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.submenu a {
  @apply block rounded-lg px-3 py-2 text-gray-800 transition-all duration-200 hover:translate-x-1 hover:bg-blue-50 hover:text-blue-600;
}
