---
import Head from '@landmarks/common/Head.astro'
import Header from '@landmarks/common/Header.astro'
import Footer from '@landmarks/common/Footer.astro'
import Hero from '@landmarks/Hero.astro'

import '@styles/global.css'
import '@styles/layouts/common.css'

const {pageInfo} = Astro.props
---

<html lang="en-US">
  <Head {pageInfo} />
  <body>
    <Header />
    <main>
      <Hero {pageInfo} />
      <slot />
    </main>
    <Footer />
  </body>
</html>
