@reference "tailwindcss";

.animate-view {
  animation-timeline: view();
}

.animate-scroll {
  animation-timeline: scroll();
}

.animate-scroll-y {
  animation-timeline: scroll(y);
}

.animate-scroll-x {
  animation-timeline: scroll(x);
}

@utility start-* {
  animation-range: --value(--animate-start-*);
}

@utility end-* {
  animation-range: --value(--animate-end-*);
}
