@reference 'tailwindcss';

@utility grid-cols-content {
  --split: 0.5;

  grid-template-columns:
    [screen-start]
    0px
    [fullwidth-start]
    1fr
    [breakout-start]
    var(--breakout-width)
    [content-start]
    calc(var(--split) * var(--content-width))
    [center]
    calc((1 - var(--split)) * var(--content-width))
    [content-end]
    var(--breakout-width)
    [breakout-end]
    1fr
    [fullwidth-end]
    0px
    [screen-end];
}

@utility grid-cols-content-* {
  options: {
    types: [ratio, number];
  }

  --val-ratio: --value(ratio);
  --val-num: --value(number);

  --col-left-ratio: calc(var(--val-ratio) * var(--content-width));
  --col-right-ratio: calc((1 - var(--val-ratio)) * var(--content-width));

  --fixed-side: calc(var(--val-num) * 0.25rem);
  --col-left-num: calc(var(--content-width) - var(--fixed-side));
  --col-right-num: var(--fixed-side);

  --col-left: var(--col-left-ratio, var(--col-left-num));
  --col-right: var(--col-right-ratio, var(--col-right-num));

  grid-template-columns:
    [screen-start]
    0px
    [fullwidth-start]
    1fr
    [breakout-start]
    var(--breakout-width)
    [content-start]
    var(--col-left)
    [center]
    var(--col-right)
    [content-end]
    var(--breakout-width)
    [breakout-end]
    1fr
    [fullwidth-end]
    0px
    [screen-end];
}

@utility gap-content {
  column-gap: var(--gap-width);

  &:has(> .half + .half) {
    row-gap: 1.5rem;
  }
}
