@reference "tailwindcss";

body {
  @apply leading-relaxed;
}

h1 {
  @apply font-merriweather text-h1 leading-tight font-medium text-balance;
}

h2 {
  @apply text-h2 font-sans leading-tight font-medium text-balance;
}

h3 {
  @apply text-h3 font-sans leading-tight font-medium text-balance;
}

h4 {
  @apply text-h4 font-sans leading-tight font-medium text-balance;
}

h5 {
  @apply text-h5 font-sans leading-tight font-medium text-balance;
}

h6 {
  @apply font-sans leading-tight font-medium text-balance;
}

.small {
  @apply text-small;
}

.tiny {
  @apply text-tiny;
}

.tagline {
  @apply text-tiny font-bold tracking-widest uppercase;
}

:is(p, ul, ol):not(:last-child) {
  @apply mb-6;
}

p:last-child,
header > p:not(:last-child),
hgroup > p:not(:last-child) {
  @apply mb-0;
}

.font-sans {
  font-family: var(--font-sans);
}

.font-sister {
  font-family: var(--font-sister);
}
